In [14]:
import pandas as pd

In [15]:
# series de pandas
numeros = [3,4,5,6,7,8]
serie = pd.Series(numeros)
serie, type(serie)

(0    3
 1    4
 2    5
 3    6
 4    7
 5    8
 dtype: int64,
 pandas.core.series.Series)

In [16]:
amigos ={
    "Nombre" :["Stephanie","Juan","Pedro","Johan"],
    "Edad" : [22,25,28,29],
    "Ciudad" : ["Barcelona","Colombia","Valencia","Cota"]
}

amigos, type(amigos)

({'Nombre': ['Stephanie', 'Juan', 'Pedro', 'Johan'],
  'Edad': [22, 25, 28, 29],
  'Ciudad': ['Barcelona', 'Colombia', 'Valencia', 'Cota']},
 dict)

In [17]:
# Generar un dataframe a partir de un diccionario

df = pd.DataFrame(data=amigos)

df # asi se imprime aqui en un jupyter

      Nombre  Edad     Ciudad
0  Stephanie    22  Barcelona
1       Juan    25   Colombia
2      Pedro    28   Valencia
3      Johan    29       Cota

In [18]:
# Exportar DataFrame
df.to_csv("data.csv")

In [21]:
# Importar Data Frame

import_df = pd.read_csv("data.csv",index_col= 0)

print(import_df)

      Nombre  Edad     Ciudad
0  Stephanie    22  Barcelona
1       Juan    25   Colombia
2      Pedro    28   Valencia
3      Johan    29       Cota